.custom-image-userProfile {
  width: 48px !important;
  height: 48px !important;
  /* box-sizing: border-box;
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 49.9%; */
}

.mat-list-base .mat-list-item .mat-line {
  white-space: normal !important;
}
