<div class="container">
    <p class="h4 text-center">Home profile</p>
    <div id="alertMessagesArea">
        <div id="errorResult">
            <p>
                <ngb-alert [dismissible]="true" *ngIf="errorMessage" type="danger" (closed)="errorMessage = ''">
                    {{errorMessage}}
                </ngb-alert>
            </p>

            <p>
                <ngb-alert [dismissible]="true" *ngIf="successfulMessage" type="success"
                    (closed)="successfulMessage = ''">
                    {{successfulMessage}}
                </ngb-alert>
            </p>
        </div>
    </div>

    <form id="homeProfileForm" [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <label for="title" class="col-form-label">Title</label>
        <input id="title" formControlName="title" type="text" class="form-control" placeholder="Title" required>
        <label for="description" class="col-form-label">Description</label>
        <input id="description" formControlName="description" type="text" class="form-control" placeholder="Description"
            required>
        <label for="userId" class="col-form-label">UserId</label>
        <input id="userId" formControlName="userId" type="number" class="form-control" placeholder="UserId"
            (change)="onUserIdChange($event)" required>

        <div class="custom-file">
            <input id="inputFileId" type="file" class="form-control" (change)="onFileChange($event)">
        </div>

        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>

    </form>
</div>