<div class="container">
    <p class="h4 text-center">Home profile</p>
    <div id="alertMessagesArea">
        <div id="errorResult">
            <p>
                <ngb-alert [dismissible]="true" *ngIf="successfulMessage" type="success"
                    (closed)="successfulMessage = ''">
                    {{successfulMessage}}
                </ngb-alert>
            </p>
            <p>
                <ngb-alert [dismissible]="true" *ngIf="warningMessage" type="warning" (closed)="warningMessage = ''">
                    {{warningMessage}}
                </ngb-alert>
            </p>
            <p>
                <ngb-alert [dismissible]="true" *ngIf="errorMessage" type="danger" (closed)="errorMessage = ''">
                    {{errorMessage}}
                </ngb-alert>
            </p>
        </div>
    </div>

    <form id="homeProfileForm" [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="row">

            <div class="col-md-6">
                <label for="title" class="col-form-label">Title</label>
                <input id="title" formControlName="title" type="text" class="form-control" placeholder="Title"
                    maxlength="70" required>
                <div *ngIf="isValidInput('title')" class="alert alert-danger">
                    <div *ngIf="form.controls['title'].errors.required">
                        Title is required.
                    </div>
                </div>

                <label for="description" class="col-form-label">Description</label>
                <textarea id="description" formControlName="description" class="form-control" placeholder="Description"
                    maxlength="512" rows="7" required></textarea>
                <div *ngIf="isValidInput('description')" class="alert alert-danger">
                    <div *ngIf="form.controls['description'].errors.required">
                        Description is required.
                    </div>
                </div>

                <div class="mt-2">

                    <span>
                        <input formControlName="bedrooms" type="number" step="1" min="1" max="10" class="m-2"
                            style="width: 50px;" required>bedrooms
                    </span>

                    <fa-icon [icon]="faBed" class="ml-2"></fa-icon>
                    <input formControlName="beds" type="number" step="1" min="1" max="10" class="m-2"
                        style="width: 50px;" required>

                    <fa-icon [icon]="faBath" class="m-2"></fa-icon>
                    <input formControlName="bathrooms" type="number" step="1" min="1" max="10" class="m-2"
                        style="width: 50px;" required>

                </div>
                <div *ngIf="isValidInput('bedrooms')" class="alert alert-danger">
                    <div>
                        Please select a number of bedrooms
                    </div>
                </div>
                <div *ngIf="isValidInput('beds')" class="alert alert-danger">
                    <div>
                        Please select a number of beds
                    </div>
                </div>
                <div *ngIf="isValidInput('bathrooms')" class="alert alert-danger">
                    <div>
                        Please select a number of bathrooms
                    </div>
                </div>
                <!-- <span style="display:inline-flex">
                    <fa-icon [icon]="faBath" class="mr-2">
                    </fa-icon>
                    <app-stepper></app-stepper>
                </span> -->
            </div>

            <div class=" col-md-6">
                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
                <div class="custom-file">
                    <input type="file" id="inputFileId" class="custom-file-input" (change)="onFileChange($event)">
                    <label class="custom-file-label" for="validatedCustomFile">Choose a picture...</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-md-6">
                <label for="country" class="col-form-label">Country</label>
                <input id="country" formControlName="country" type="text" class="form-control" placeholder="Country"
                    readonly>
                <label for="streetAddress" class="col-form-label">Street address</label>
                <input id="streetAddress" formControlName="streetAddress" type="text" class="form-control"
                    placeholder="Street address" maxlength="70" (change)="onaddressLocationChange()">
                <label for="city" class="col-form-label">City</label>
                <input id="city" formControlName="city" type="text" class="form-control" placeholder="City"
                    maxlength="70">
                <label for="eircode" class="col-form-label">Eircode</label>
                <input id="eircode" formControlName="eircode" type="text" class="form-control" placeholder="Eircode"
                    maxlength="20" (change)="onaddressLocationChange()">
            </div>
            <div class="col-md-6">
                <home-map [address]="address"></home-map>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>

    </form>
</div>