<h1>Home profile</h1>

<!-- https://stackoverflow.com/questions/64068886/how-to-access-body-parameters-while-using-multipart-form-data-in-nodejs -->
<!-- multipart/form-data -->
<!-- <form id="homeProfileForm" [formGroup]="homeProfileForm" method="post" action="/homeProfile" -->
<form id="homeProfileForm" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="title" class="col-form-label">Title</label>
    <input id="title" formControlName="title" type="text" class="form-control" placeholder="Title" required>
    <label for="description" class="col-form-label">Description</label>
    <input id="description" formControlName="description" type="text" class="form-control" placeholder="Description"
        required>
    <label for="userId" class="col-form-label">UserId</label>
    <input id="userId" formControlName="userId" type="number" class="form-control" placeholder="UserId" required>
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>

</form>