<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" [routerLink]="'.'">HomeSwap</a>
  <div *ngIf="mobile" class="col text-right d-flex justify-content-end">
    <div class="ap-2">
      <a class="nav-link" style="color: rgba(0, 0, 0, 0.5);!important" routerLink="/how-it-works"
        routerLinkActive="active">How it works</a>
    </div>
    <div class="ap-2">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        <mat-icon *ngIf="showIcon">account_circle</mat-icon>
        <app-user-profile-image [userId]="loggedInUserId"></app-user-profile-image>
      </button>
    </div>
  </div>
  <div *ngIf="!mobile" [ngbCollapse]="false" class="navbar acollapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/how-it-works" routerLinkActive="active">How it works</a>
      </li>
    </ul>
    <div class="col text-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        <mat-icon *ngIf="showIcon">account_circle</mat-icon>
        <app-user-profile-image [userId]="loggedInUserId"></app-user-profile-image>
      </button>

    </div>

  </div>
</nav>
<mat-menu #menu="matMenu">
  <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
  <a class="nav-link" routerLink="/account-details" routerLinkActive="active"
    *ngIf="authService.isLoggedIn()">Account</a>
  <a class="nav-link" routerLink="/account-update" routerLinkActive="active" *ngIf="authService.isLoggedIn()">Update
    Account</a>
  <a class="nav-link" routerLink="/home-profile" routerLinkActive="active" *ngIf="authService.isLoggedIn()">Home
    Profile</a>
  <a class="nav-link" routerLink="/request-management" routerLinkActive="active"
    *ngIf="authService.isLoggedIn()">Requests</a>
  <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn()">Login</a>
  <a class="nav-link" routerLink="/account-remove" routerLinkActive="active" *ngIf="authService.isLoggedIn()">Delete
    Account</a>
  <a class="nav-link" routerLink="/logout" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</a>
</mat-menu>