.custom-image {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.custom-image-userProfile {
  width: 48px !important;
  height: 48px !important;
  /* box-sizing: border-box;
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 49.9%; */
}

.tab-box {
  display: flex;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 500px;
  overflow-y: auto;
}

.viewport-size {
  max-width: 100vw;
  max-height: 100vh;
}
