<div class="container-fluid viewport-size">
    <div class="row">
        <div class="col-md-3">
            <mat-tab-group class="" (selectedTabChange)="tabChanged($event)">
                <mat-tab label="Received">
                    <div class="tab-box mat-elevation-z4">
                        <mat-selection-list #rRequests [multiple]="false"
                            (selectionChange)="receivedRequestSelectionChange($event)">
                            <mat-list-option *ngFor="let request of receivedRequests  as rRequests , let i = index"
                                [value]="request" [selected]="request && i == 0">
                                <img mat-list-avatar
                                    [src]="request.fromUser?.profileImage ? request.fromUser?.profileImage:  notAvailableImageService.imageSrc"
                                    class="custom-image-userProfile" />
                                <div mat-line>
                                    {{request.fromUser?.firstName}}, {{request.fromHome?.city}}, {{request.createdAt
                                    |
                                    date:
                                    'dd/MM/yyyy'}}
                                </div>
                                <div mat-line>
                                    {{request.checkin | date: 'dd/MM/yyyy'}} - {{request.checkout | date:
                                    'dd/MM/yyyy'}}

                                </div>
                                <div mat-line>
                                    {{request.status | requestStatus}}
                                </div>

                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </mat-tab>
                <mat-tab label="Sent">
                    <div class="tab-box mat-elevation-z4">
                        <mat-selection-list [multiple]="false" (selectionChange)="sentRequestSelectionChange($event)">
                            <mat-list-option *ngFor="let request of sentRequests  as sRequests, let i = index"
                                [value]="request" [selected]="request && i == 0">

                                <img mat-list-avatar
                                    [src]="request.toUser?.profileImage ? request.toUser?.profileImage:notAvailableImageService.imageSrc"
                                    class="custom-image-userProfile">
                                <div mat-line>

                                    {{request.toUser?.firstName}}, {{request.toHome?.city}}, {{request.createdAt | date:
                                    'dd/MM/yyyy'}}
                                </div>
                                <div mat-line> {{request.checkin | date: 'dd/MM/yyyy'}} - {{request.checkout | date:
                                    'dd/MM/yyyy'}}
                                </div>
                                <div mat-line> {{request.status | requestStatus}}
                                </div>
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-md-6  mt-3">
            <div *ngIf="requestStatus" class="row">
                <div class="col-md-12">
                    Status: {{requestStatus | requestStatus}}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <app-request-messages [requestId]="requestId"></app-request-messages>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div *ngIf="home">
                <img [src]="home.image ? home.image: notAvailableImageService.imageSrc" class="custom-image">
                <h3>{{home.title}}</h3>
                <p>{{home.bedrooms }} bedrooms
                    <span class="ml-2">
                        <fa-icon [icon]="faBed" class="mr-2"></fa-icon>{{home.beds }}
                        <fa-icon [icon]="faBath" class="mr-2"></fa-icon>{{home.bathrooms }}
                    </span>
                </p>
                <p placeholder="Description" maxlength="512" rows="7">{{home.description}}</p>
            </div>
        </div>
    </div>
</div>