<div class="container">
    <div class="row ">

        <div class="col-md-7">
            <label for="city" class="col-form-label">Where would you like to go?</label>
            <input id="city" type="text" class="form-control" placeholder="Enter a city" maxlength="20" required>
            <!-- <div>
                Beds
                <fa-icon [icon]="faPlus" (click)="increment()">
                </fa-icon>
                {{value}}
                <fa-icon [icon]="faMinus" (click)="decrement()">
                </fa-icon>
            </div>
            <div>
                Bedrooms
                <fa-icon [icon]="faPlus" (click)="increment()">
                </fa-icon>
                {{value}}
                <fa-icon [icon]="faMinus" (click)="decrement()">
                </fa-icon>
            </div> -->
        </div>
        <div class="col-md-5 d-flex  align-items-end">
            <button type="button" class="btn btn-primary">Search homes for swapping</button>
        </div>
    </div>
</div>