<!---start of 3 top images-->
<div class="box1">

    <img src="assets/housetop.png" style="width:490px;height:300px;">
    <p><b>Friendly Community</b></p>

</div>
<div class="box2">

    <img src="assets/euro.png" style="width:400px;height:300px;">
    <p><b>Affordable</b></p>

</div>
<div class="box3">

    <img src="assets/pets.png" style="width:450px;height:300px">
    <p><b>Pets-Friendly</b></p>

</div>
<!---end of 3 top images-->

<img src="assets/line.png" class="center">

<!--Dropdown Text-->
<div class="box4">
    <marquee behavior="scroll" direction="down">
        <h1>JOIN US NOW !!! </h1>
    </marquee>
    <h2>WELCOME TO HOMESWAP IRELAND</h2>
</div>

<img src="assets/line.png" class="center">

<!--Tourst Spots/ When Image CLick It will pause.-->
<!--- Code Reference: https://www.html.am/html-codes/marquees/html-scrolling-text.cfm-->
<div class="box5">
    <marquee behavior="scroll" direction="right" scrollamount="5" onmousedown="this.stop();" onmouseup="this.start();">
        <img src="assets/causeway.png" width="230px" height="100px" alt="Natural" />
    </marquee>
    <marquee behavior="scroll" direction="left" scrollamount="8" onmousedown="this.stop();" onmouseup="this.start();">
        <img src="assets/guiness.png" width="230px" height="100px" alt="Natural" />
    </marquee>
    <h3> Live near Ireland known Tourist Spots </h3>
    <marquee behavior="scroll" direction="right" scrollamount="2" onmousedown="this.stop();" onmouseup="this.start();">
        <img src="assets/cross.png" width="230px" height="100px" alt="Natural" />
    </marquee>
    <marquee behavior="scroll" direction="left" scrollamount="5" onmousedown="this.stop();" onmouseup="this.start();">
        <img src="assets/moher.png" width="230px" height="100px" alt="Natural" />
    </marquee>

</div>
<img src="assets/line.png" class="center">

<!----start of 3 bottom images-->
<div class="box6">
    <img src="assets/kitchen.png" style="width:495px;height:345px;">

</div>

<div class="box7">
    <img src="assets/lroom.png" style="width:495px;height:345px;">
</div>

<div class="box8">
    <img src="assets/playground.png" style="width:495px;height:345px;">

</div>

<!---end of 3 bottom images-->