<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-5">
            <label for="city" class="col-form-label">Quick filter</label>
            <input type="search" class="form-control" [(ngModel)]="filter">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center">
                <div id="productsRow" class="row g-4">
                    <div *ngFor="let home of homes |  homesListingPipe: filter as filtered"
                        [ngClass]="(filtered.length ==1)?'col-md-12':'col-md-3'" class="d-flex align-items-stretch">
                        <div class="card" style="width: 18rem;margin-bottom: 10px;">

                            <a [routerLink]="['/home-details', home.id]">
                                <img [src]="home.image? home.image : notAvailableImage.imageSrc" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h6 class="card-title text-truncate">{{home.title }}</h6>
                                <p class="card-text text-truncate">{{home.description }}</p>
                                <p class="card-text">{{home.bedrooms }} bedrooms
                                    <span class="ml-2">
                                        <fa-icon [icon]="faBed" class="mr-2"></fa-icon>{{home.beds }}
                                        <fa-icon [icon]="faBath" class="mr-2"></fa-icon>{{home.bathrooms }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-paginator (page)="onPageChange($event)" [length]="total" [pageSize]="pageSize"
                [pageSizeOptions]="[16, 32, 64, 100]">
            </mat-paginator>
        </div>
    </div>
</div>