<button type="button" class="btn btn-outline-primary" (click)="onBack()">Back</button>

<div class="container mt-4" *ngIf="home">
    <div class="row">
        <div class="col-md-12">
            <app-alert-messages [errorMessage]="errorMessage" [successMessage]="successMessage"
                [warningMessage]="warningMessage" (successMessageChange)="successMessage=undefined"
                (warningMessageChange)="warningMessage=undefined" (erroressageChange)="errorMessage=undefined">
            </app-alert-messages>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img [src]="home.image" *ngIf="home.image" class="custom-image">
            <h3>{{home.title}}</h3>
            <p>{{home.bedrooms }} bedrooms
                <span class="ml-2">
                    <fa-icon [icon]="faBed" class="mr-2"></fa-icon>{{home.beds }}
                    <fa-icon [icon]="faBath" class="mr-2"></fa-icon>{{home.bathrooms }}
                </span>
            </p>
            <p placeholder="Description" maxlength="512" rows="7">{{home.description}}</p>
        </div>

        <div class="col-md-4">
            <h5>User profile information</h5>
            <p>user name</p>
            <p>user image</p>
            <p>user reviews</p>
            <app-send-home-swap-request [homeId]="home.id" (successMessageEvent)="successMessage=$event"
                (errorMessageEvent)="errorMessage=$event">
            </app-send-home-swap-request>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">

            <home-map [address]="home?.getAddressLocation()"></home-map>
        </div>

        <div class="col-md-4">
            <h5>Home location</h5>
            <p>Country: {{home.country}}</p>
            <p>County: {{home.county}}</p>
            <p>Street address: {{home.streetAddress}}</p>
            <p>City: {{home.city}}</p>
            <p>Eircode: {{home.postCode}}</p>
        </div>
    </div>

</div>