p {
  font-size: 20px;
  color: rgb(109, 104, 104);
}

li {
  text-align: left;
}

ul {
  display: inline-block;
}

h1 {
  font-style: inherit;
  color: rgb(115, 85, 163);
  text-shadow: 2px 0 rgb(14, 127, 161);
  text-align: center;
}
.how3,
.how4 {
  background-color: white;
  height: 350px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.offer-detail-image-div {
  display: block;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
img {
  display: block;
  overflow: visible;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  float: none;
}

.marquee-wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.marquee {
  display: flex;
  animation-name: marquee;
  transform: translateX(0);
  height: 300px;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
